body{
  background-color: #8D98AA;
}
.login-container {
max-width: 400px;
margin: 0 auto;
padding: 50px;
/*background-color: #B3BDCA;*/
border-radius: 5px;
/*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);*/
align-items: center;
}


.login-container h2 {

text-align: center;
margin-bottom: 20px;
}

.form-group {
margin-bottom: 15px;
}

.form-group label {
display: block;
margin-bottom: 5px;
}

.form-control {
width: 100%;
padding: 8px;
font-size: 16px;
border: 1px solid #182434;
border-radius: 4px;
}

.btn-primary {


  display: block;
  margin: 0 auto;
  font-size: 14px;
  padding: 10px 14px;
background-color: #0373fb;
color: #171616;
cursor: pointer;

}

.error-message {
margin-top: 10px;
color: red;
text-align: center;
}

header {
margin-bottom: 90px;
background-color: #182434;
color: #e4e3d6;
padding: 15px;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);

}

.navbar-brand {
font-size: 20px;
font-weight: bold;
}